@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  word-break: keep-all;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-display: var(--font-schibsted-grotesk);
}
